body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aqua;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wpCout{
  display: flex;
  margin: 0 auto;
  width: 500px;
  justify-content: space-around;
}
.cout-item{
width: 100px;
height: 40px;
margin-bottom: 20px;
border: 1px solid greenyellow;
background-color:blue;
color: aliceblue;
}

